<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>1-功能</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>FaceAction</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>userID</key>
							<string>setMinFase</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setMinFase</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setMaxRegImgNum</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setMaxRegImgNum</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setEulurAngleThrPitch</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setEulurAngleThrPitch</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setCropFaceSizeWithWidth</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setCropFaceSizeWithWidth</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setIllumThr</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setIllumThr</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setCropFaceEnlargeRatio</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setCropFaceEnlargeRatio</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setDetectionInterval</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setDetectionInterval</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>setNoFaceDetectionInterval</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>setNoFaceDetectionInterval</string>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>perpareData</string>
							<key>testImage</key>
							<string>image1.JPG</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>perpareData</string>
							<key>exResult</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>PictureIntroduction2</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>userID</key>
							<string>extractFeature_ZZ</string>
							<key>testImage</key>
							<string>ss2.jpg</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>正常特征值+正常特征值</string>
							<key>exResult</key>
							<string>512</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>extractFeature_ZZT</string>
							<key>testImage</key>
							<string>ss2.jpg</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>正常特征值+正常特征值（检测）</string>
							<key>exResult</key>
							<string>512</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>extractFeature_ZJ</string>
							<key>testImage</key>
							<string>ss2.jpg</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>正常特征值+假特征值</string>
							<key>exResult</key>
							<string>512</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>extractFeature_JJ</string>
							<key>testImage</key>
							<string>ss2.jpg</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>假特征值+假特征值（相同图片）</string>
							<key>exResult</key>
							<string>512</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>extractFeature_KK</string>
							<key>level</key>
							<integer>2</integer>
							<key>name</key>
							<string>空特征值</string>
							<key>exResult</key>
							<string>512</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>2- 性能</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>extractImage</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>userID</key>
							<string>detectImage</string>
							<key>name</key>
							<string>vst</string>
							<key>level</key>
							<integer>2</integer>
							<key>exResult</key>
							<string>1</string>
						</dict>
						<dict>
							<key>userID</key>
							<string>extractFeature_S</string>
							<key>name</key>
							<string>5000张图片</string>
							<key>level</key>
							<integer>2</integer>
							<key>exResult</key>
							<string>1</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
